<nav class="glass-nav">
  <div class="nav-content">
    <div class="logo">
      <a href="index.html" class="flex-center">
        <img
          src="{{base}}svg/logo.svg"
          alt="DigiKaveri Logo"
          width="180"
          height="55"
          fetchpriority="high"
          loading="eager"
        />
      </a>
    </div>

    <button class="mobile-menu-btn" aria-label="Avaa valikko">
      <i data-lucide="menu"></i>
    </button>
  </div>
</nav>
